.filterInput{
    input {
        border: 2px solid #484646;
        border-radius: 5px;
        width: 253px;
        margin-top: 10px;
        margin-left: 15px;
        padding: 8px 8px;
        outline: none;
      }
}